{{define "content"}}
{{template "page-header" dict "Title" "New note"}}
{{with .Content}}
<form rst-form method="post" action="/notes">
{{template "field-text" dict "Name" "title" "Label" "Title" "Value" .Note.Title "Required" true "Autofocus" true "Error" (index .Errors "Title")}}
{{template "field-textarea" dict "Name" "body" "Label" "Body" "Value" .Note.Body "Error" (index .Errors "Body")}}
{{template "form-foot" dict "Submit" "Create" "CancelHref" "/" "CancelLabel" "Cancel"}}
</form>
{{end}}
{{end}}
